body {
  /*	background: lightgray;
*/
  background-image: url("background_bootstrap.jpg");
  background-size: cover repeat;
  color: #777777;
  font-family: "Georgia", Times, Times New Roman, serif;
  /*margin: 0 auto;*/
  text-align: center;
}
header {
  position: relative;
  border-bottom: solid;
  background: #2e0e4b;
  border-bottom-color: white;
}
h1 {
  background: #666666;
  color: white;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-weight: bolder;
  font-size: 30px;
  border-style: solid;
  border-color: black;
  float: left;
}
#nav {
  font-family: "Georgia", Times, Times New Roman, serif;
  float: right;
  color: white;
  text-align: center;
  background-color: #2e0e4b;
  margin-top: 0;
  position: static;
}

/*.navbar-brand,
.nav-link,
.navbar,
.navbar-expand-lg,
.navbar-dark,
.bg-dark, .fixed-top {
  background-color: #2e0e4b;
  text-align: center;
  color: white;
  font-family: "Georgia", Times, Times New Roman, serif;*/
}

button {
  background: grey;
}

#about:hover {
  background: #cccccc;
}
#portfolio:hover {
  background: #cccccc;
}
#contact:hover {
  background: #cccccc;
}

a {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #777777;
  text-decoration: none;
  display: inline-block;
}
.main {
  border-top-color: #dddddd;
  text-align: center;
  position: relative;
}

#part1 {
  float: left;
  background: #ffffff;
  text-align: justify;
  margin-bottom: 100px;
  margin-top: 100px;
  padding: 50px 20px 20px 20px;
}

h2 {
  border-bottom: solid;
  border-bottom-color: #cccccc;
  background: #ffffff;
  text-align: left;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-weight: bolder;
  font-size: 30px;
  color: #666666;
}
#profileimage {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
}
p {
  margin-top: 30px;
  text-align: left;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #777777;
  line-height: 1.5;
}
aside {
  background: white;
  padding: 20px;
  margin-bottom: 100px;
  margin-top: 100px;
}

h3 {
  border-bottom: solid;
  border-bottom-color: #cccccc;
  border-bottom-width: thin;
  background: #ffffff;
  font-family: "Georgia", Times, Times New Roman, serif;
  font-weight: bolder;
  font-size: 24px;
  color: #darkgrey;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

.icon {
  margin-top: 30px;
  /*height: 20px;*/
  width: 100% !important;
}

/*.icon:hover{
	background: #cccccc;
}*/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #666666;
  border-top: solid;
  border-top-color: #4aaaa5;
  border-top-width: thick;
  color: #cccccc;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 0;
  position: static;
  width: 100%;
}

.headerrow {
  /*margin-top: 20px;*/
}

.space{
  margin: 10px;
}

#portfolioblocks{
  margin: 20px 0 20px 0;
}


#row1, #row2, #row3{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  #profileimage {
    width: 100%;
}
}
